/* Navbar Start */
.image-logo{
    width:100px;
}

.navbar{
    background-color:#0e2835;
}

.nav-lin{
    color:#fff;
    font-size:20px;
    padding: 33px 20px 0px 9px;
}

.nav-lin:hover{
    color:#fff
}

.btn-outline-success {
    color: #ffffff;
    border-color: #174f65a3;
}

.icon{
    color: #0e2835;
    background-color: #fff;
}
/* Navbar End */
=======
/* Navbar Start */
.image-logo{
    width:100px;
}

.navbar{
    background-color:#0e2835;
}

.nav-lin{
    color:#fff;
    font-size:20px;
    padding: 33px 20px 0px 9px;
}

.nav-lin:hover{
    color:#fff
}

.btn-outline-success {
    color: #ffffff;
    border-color: #174f65a3;
}

.icon{
    color: #0e2835;
    background-color: #fff;
}
/* Navbar End */


html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #273367;
}

.banner-home{
    padding: 87px 6px 190px 6px;
}

.games-main{
    width: 75%;
    height: 80%;
    margin: 0 auto;
}

.header{
    text-align: center;
    margin: 15% 0% 15% 0%;
    color: #fff;
}

.subtitle{
    font-size: 23px;
    color: #fff;
}

#nav{
    background-color: #273367;
}

.gaming-img{
    display: block;
    width: 100%;
}

#xplore{
    font-size: 25px;
    border: 2px solid black;
    color: white;
}

#xplore:hover{
    text-decoration: none;
    color: blueviolet;
}


/* Recommended games */

.games-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card,.list-group-item{
    color: white;
    background-color: rgb(29, 26, 41);
    transition: all 0.5s ease;
}

.card:hover{
    box-shadow: 0 0 5px 2px rgb(15, 183, 235);
    cursor: pointer;
    transition: all 0.5s ease;
}

.game{
    margin-bottom: 12px;
}

.head-recommend{
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.see-more-rec{
    float: right;
    background-color:#000 ;
    font-size: 25px;
    border: 2px solid black;
    color: white;
}


@media all and (max-width:648px){
    .container-fluid .main{
        width: 100%;
        margin: 0 auto;
        border: 2px solid black;
    }
}